$serif: 'Eczar', serif;
$sans-serif: 'Poppins', sans-serif;

body {
  font-family: $serif;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 25.625rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
  z-index: 1;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h1 img {
  width: 100%;
  max-width: 16.25rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  letter-spacing: 0.1em;
  margin-top: 0.05em;
  text-align: center;
  max-width: 22.81rem;
  line-height: 1.25;
  margin-bottom: 0.55em;
  text-transform: uppercase;
  padding-top: 0.45em;
}

main p {
  width: 100%;
  max-width: 25.625rem;
  margin-bottom: 1em;
  position: relative;
  
  font-size: 1.0625rem;
  line-height: 1.21;
  text-align: center;
  text-align-last: center;
}

a,
a:visited,
a:link {
  color: white;
  font-weight: bold;
  // text-decoration: none;
}

.description-item {
  display: inline-block;
  width: auto;
  padding: 0.4375rem 0.9375rem 0.5rem;
  margin-bottom: 0;
  max-width: 23.4375rem;
  font-family: $sans-serif;
  font-size: 0.9375rem;

  &:before {
    content: ':・:・🔥・:・:';
    display: block;
    filter: grayscale(1);
    font-size: 0.7rem;
    margin-bottom: 1em;
  }
}

header,
footer {
  width: 100%;
  text-align: center;
}

header {
  border-bottom: 2px solid #bababa;
  margin-bottom: 0.75rem;
}

footer {
  margin-top: 0.9375rem;
  padding-top: 1.5rem;
  border-top: 2px solid #bababa;
  position: relative;

  text-transform: uppercase;

  &:before {
    content: '👇';
    display: block;
    padding: 0 7px 0 5px; //off-center shape
    background: black;
    filter: grayscale(1);
    position: absolute;
    left: 50%;
    top: -0.5em;
    transform: translate(-50%, 0);
  }
}

footer p {
  font-size: 1.25rem;
}

.legal-footer {
  font-family: $sans-serif;
  font-size: 0.75rem;
  color: #666;
}